body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3a3a41;
    box-sizing: border-box;
}

.formLogin {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #41403b;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    text-align: center;
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 15px;
    font-weight: 500;
    font-size: 2.3em;

}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
    color: black;
    width: 314px
}


.formLogin input:focus {
    border: 1px solid #ffc107;
}

.formLogin label {
    margin: 10px;
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    justify-content: center;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #fff;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #ffc107;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #212529;
    text-align: center;
}


#acao {
    margin-bottom: 10px;
    text-align: center;
    height: 25px;
    width: 330px;
}



.btn {
    background-color: #ffc107;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    height: 25px;
    width: 330px;
    margin-left: 50px;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #ebf82e;
}

#texto {
    margin: 10px;
    text-align: center;
    height: 25px;
    width: 330px;
    font-size: 20px;

}

.margin-left {
    margin-left: 50px;
}