<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Clãs</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="ger-clas.css">


    
</head>
<body class="container mt-5">

<h2 class="text-center mb-4">Gerenciamento de Clãs</h2>

<form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']); ?>" method='post'>
    <div class="form-group">
        <label for="acao">Escolha uma ação:</label>
        <select class="form-control" name="acao" id="acao" onchange="toggleFields()">
            <option value="criar">Criar Clã</option>
            <option value="entrar">Entrar em Clã Existente</option>
        </select>
    </div>

    <div id="criar-cla" style="display:none;" class="form-group">
        <label for="clan_name">Nome do Clã:</label>
        <input type="text" class="form-control" name="clan_name">
    </div>

    <div id="entrar-cla" style="display:none;" class="form-group">
        <label for="id_clan">Escolha um Clã:</label>
        <select class="form-control" name="id_clan">
            <?php
            include("../inc/connection.php"); 
            $sql = "SELECT * FROM Clans";
            $result = $con->query($sql);

            while ($row = $result->fetch_assoc()) {
                echo "<option value='" . $row['clan_id'] . "'>" . $row['clan_name'] . "</option>";
            }
            $con->close();
            ?>
        </select>
    </div>

    <input type="submit" class="btn btn-primary" value="Enviar">
</form>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="ger-clas.js"></script>

</body>
</html>
