* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

body {
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #1e2327;
    color: white; 
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #1e2327;
    color: white; 
    text-align: center;
}

.menu {
    width: 100%;
    background-color: black;
}

.page,
.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.btn {
    background-color: #ffc107;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #ebf82e;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #41403b;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    height: 55vh;
    width: 500px;
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
    color: black;
}

#id_clan {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
    color: black;
}

.formLogin input:focus {
    border: 1px solid #ffc107;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #fff;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #ffc107;
}

a {
    margin: 2px;
    text-decoration: none;
}

#top {
    text-align: center;
}

#content-left {
    width: 130vh;
    min-height: 92vh;
    border-right: 1px solid white;
}

#content-right {
    width: 80vh;
}

.headerLiga {
    display: flex;
}

.DivsLeft {
    width: 65vh;
}

#melhor_guild {
    align-items: center;
}

table {
    margin: auto;
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 10px;
}
